@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-size-default: 10px;
    --font-roboto: 'Roboto', sans-serif;
    --primary-color: #2563EB;
    --color-links: #0F172A;
    --color-text: #475569;
    --color-icon: #94A3B8;
    --neutral-color: #fff;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-default);
}

body {
    border: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-roboto);
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background: var(--neutral-color);
    padding: 0 2.5rem;
}

.nav_bar .logo {
    font-family: var(--font-roboto);
    font-weight: 900;
    font-size: 1.5rem;
}

.nav_bar .nav_links {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 75%;
}

.nav_bar .nav_links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    width: 50rem;
}

.nav_bar .nav_links ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-links);
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bar .nav_links ul a ion-icon {
    margin-left: .6rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19rem;
    height: 100%;
}

.btn a {
    text-decoration: none;
}

.btn .login{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    background: transparent;
}

.btn .sign {
    font-size: 1.5rem;
    padding: .9rem 1.5rem;
    border-radius: .5rem;
    color: var(--neutral-color);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;
}

.btn .sign:hover {
    background: var(--neutral-color);
    transform: scale(1.1);
    color: var(--primary-color);
}

.btn .sign ion-icon {
    margin-left: .5rem;
}

.nav_bar .btn-menu {
    display: none;
}

.nav_bar .btn-menu button {
    background: transparent;
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bar .btn-menu .bx {
    color: var(--primary-color);
    font-size: 4.5rem;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 900px) {
    .nav_bar .nav_links {
        position: absolute;
        width: 50%;
        right: 0;
        top: 5rem;
        height: 100vh;
        backdrop-filter: blur(4px);
        background: #0f10357c;
        margin-right: 100%;
        padding-top: 2rem;
        transition: all 1s ease;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .nav_bar .nav_links ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height: 40%;
        margin-bottom: 4rem;
    }

    .nav_bar .nav_links .btn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15%;
    }

    .nav_bar .btn-menu {
        display: block;
    }

    .nav_links.mobile-menu {
        margin-right: 50%;
    }
}










